.hero {
    background: rgb(var(--color-secondary-container));
    padding-block: var(--space-10);
}

.wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--space-8);
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        justify-content: space-between;
        justify-content: center;
        gap: var(--space-10);
    }
}

.text {
    flex: 1;
    text-align: center;
    padding-inline: var(--space-4); 
}

@media (min-width: 768px) {
    .text {
        text-align: left; 
        padding-left: var(--space-10);
    }
}

.buttons {
    display: flex;
    gap: var(--space-4);
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--space-4);
}

@media (min-width: 768px) {
    .buttons {
        justify-content: flex-start;
    }
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.fox {
    width: var(--brand-illustration-size-lg);
    height: auto;
    object-fit: contain;
}
